################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PHOTOnline/PHOTOnline.Web/node_modules
